@{
    ViewData["Title"] = "Create Account";
}

@section AddStyles{

    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
@model HalloDocServices.ViewModels.CreateAccountViewModel

<div class="login-area w-100">
    <h1 class="mb-4 mt-2 h2 text-center">Create Account</h1>

    @if(ViewBag.Message != null)
    {
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            @ViewBag.Message
        </div>
    }

    <form class="d-flex flex-column" asp-action="CreateAccount" asp-controller="Login">

        <div class="form-floating mb-4">
            <input asp-for="Email" type="email" class="form-control transparent" id="Email" placeholder="name@example.com" readonly>
            <label for="floatingInput">Email</label>
            @*<img src="~/images/usernameIcon.svg" alt="" class="label-icon">*@
            <span class="material-symbols-outlined text-dark icon-label">
                account_circle
            </span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-4">
            <input asp-for="Password" type="password" class="form-control transparent" id="Password" placeholder="Password">
            <label for="floatingPassword">Password</label>
            @*<img src="~/images/passwordShowIcon.svg" alt="" class="label-icon">*@
            <span class="material-symbols-outlined text-dark icon-label" id="eye1">
                visibility_off
            </span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-floating mb-4">
            <input asp-for="ConfirmPassword" type="password" class="form-control transparent" id="ConfirmPassword" placeholder="Confirm Password">
            <label for="floatingPassword">Confirm Password</label>
            @*<img src="~/images/passwordShowIcon.svg" alt="" class="label-icon">*@
            <span class="material-symbols-outlined text-dark icon-label" id="eye2">
                visibility_off
            </span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-info rounded-3 text-white fw-bold w-100 py-3 mb-4" value="Submit">

    </form>
</div>


@section AddScript{
    <script>
        $('#eye1').click(function () {
            var passwordInput = $('#Password');
            var eyeIcon = $('#eye1');

            if (passwordInput.attr('type') === "password") {
                passwordInput.attr('type', 'text');
                eyeIcon.text('visibility');
            } else {
                passwordInput.attr('type', 'password');
                eyeIcon.text('visibility_off');
            }
        })

        $('#eye2').click(function () {
            var passwordInput2 = $('#ConfirmPassword');
            var eyeIcon2 = $('#eye2');

            if (passwordInput2.attr('type') === "password") {
                passwordInput2.attr('type', 'text');
                eyeIcon2.text('visibility');
            } else {
                passwordInput2.attr('type', 'password');
                eyeIcon2.text('visibility_off');
            }
        })
    </script>
}