@{
    ViewData["Title"] = "Create Account";
}

@section AddStyles{

    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
@model HalloDocServices.ViewModels.CreateAccountViewModel

<div class="login-area w-100">
    <h1 class="mb-4 mt-2 h2 text-center">Create Account</h1>

    <p class="text-center text-danger fw-bold">@ViewBag.Message</p>

    <form class="d-flex flex-column" asp-action="CreateAccount" asp-controller="Login">

        <div class="form-floating mb-4">
            <input asp-for="Email" type="email" class="form-control transparent" id="Email" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
            <img src="~/images/usernameIcon.svg" alt="" class="label-icon">
        </div>

        <div class="form-floating mb-4">
            <input asp-for="Password" type="password" class="form-control transparent" id="Password" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <img src="~/images/passwordShowIcon.svg" alt="" class="label-icon">
        </div>

        <div class="form-floating mb-4">
            <input asp-for="ConfirmPassword" type="password" class="form-control transparent" id="ConfirmPassword" placeholder="Confirm Password">
            <label for="floatingPassword">Confirm Password</label>
            <img src="~/images/passwordShowIcon.svg" alt="" class="label-icon">
        </div>

        <input type="submit" class="btn btn-info rounded-3 text-white fw-bold w-100 py-3 mb-4" value="Submit">

    </form>
</div>