@*@page
@model TestProject.Views.Home.ForgotPasswordModel
@{
}*@

@{
    ViewData["Title"] = "Forgot Password";
}

@section AddStyles{
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

<div class="login-area w-100">
    <a asp-area="" asp-controller="Login" asp-action="PatientLogin" class="back-btn btn  ">
        <img src="~/images/backIcon.svg" alt="">
        Back
    </a>
    <h1 class="mb-4 mt-2 h2 text-center">Reset Your Password</h1>
    <form class="d-flex flex-column">
        <div class="form-floating mb-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
            <img src="./images/usernameIcon" alt="" class="label-icon">
        </div>

        <button type="submit" class=" btn btn-info text-white fw-bold w-100 py-3 mb-4 fw-500">
            Reset
            Password
        </button>
        <a asp-area="" asp-controller="Login" asp-action="PatientLogin" class="back-btn btn  ">
            <img src="~/images/back-svgrepo-com.svg" alt="">
            Back To Login
        </a>
    </form>
</div>