@{
    ViewData["Title"] = "Login";
}

@section AddStyles{

    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
@model HalloDocServices.ViewModels.LoginViewModel

<div class="login-area w-100">
    @*<a asp-area="" asp-controller="Home" asp-action="Index" class="btn back-btn">
        <img src="~/images/backIcon.svg" alt="">
        Back
    </a>*@
    <a asp-action="Index" asp-controller="Home" class="btn back-btn d-flex align-items-center" style="width: fit-content">
        <span class="material-symbols-outlined text-info fs-6">
            arrow_back_ios
        </span>
        <span>Back</span>
    </a>

    <h1 class="mb-4 mt-2 h2 text-center">Login To Your Account</h1>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            @ViewBag.Message
        </div>
    }
    <form class="d-flex flex-column" asp-action="CheckLogin" asp-controller="Login" id="login-form">

        <input type="number" asp-for="Latitude" id="Latitude" hidden/>
        <input type="number" asp-for="Longitude" id="Longitude" hidden />

        <div class="form-floating mb-4">
            <input asp-for="Email" type="text" class="form-control transparent" id="Email" placeholder="name@example.com">
            <label for="Email">Email</label>
            <span class="material-symbols-outlined text-body icon-label">
                account_circle
            </span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-4">
            <input asp-for="Password" type="password" class="form-control transparent" id="Password" placeholder="Password">
            <label for="Password">Password</label>
            <span class="material-symbols-outlined text-body icon-label" id="eye">
                visibility_off
            </span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="button" class="btn btn-info rounded-3 text-white fw-bold w-100 py-3 mb-4" id="submit-btn">Submit</button>
        <a asp-area="" asp-controller="Login" asp-action="ForgotPassword" class="align-self-center forgot-pass text-info fw-bold">
            Forgot
            Password?
        </a>
    </form>
</div>


@section AddScript
{
    <partial name="_ToastMessageScriptsPartial" />

    @*GET USER LOCATION, COORDINATES*@
    @* IF USER IS PHYSICIAN STORE THEM IN DB *@

    <script>
        $('#submit-btn').click(function (event) {
            event.preventDefault();

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    $('#Latitude').val(latitude);
                    $('#Longitude').val(longitude);

                    console.log($('#Latitude').val());
                    console.log($('#Longitude').val());

                    $('#login-form').submit();

                }, function (error) {
                    console.error("Geolocation error:", error.message);

                    $('#Latitude').val(''); 
                    $('#Longitude').val(''); 

                    $('#login-form').submit(); 
                });
            } else {
                console.log("Geolocation is not supported by this browser.");

                $('#Latitude').val(''); 
                $('#Longitude').val(''); 

                $('#login-form').submit();
            }
        });
    </script>

    <script>
        $('#eye').click(function () {
            var passwordInput = $('#Password');
            var eyeIcon = $('#eye');

            if (passwordInput.attr('type') === "password") {
                passwordInput.attr('type', 'text');
                eyeIcon.text('visibility');
            } else {
                passwordInput.attr('type', 'password');
                eyeIcon.text('visibility_off');
            }
        })
    </script>

    <script>
        $('#Email').change(function () {
            let value = $('#Email').val();
            let trimmedValue = value.trim();
            $('#Email').val(trimmedValue);
        });
    </script>
}

