
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>

    <h1>ACCESS DENIED</h1>
    <p>Sorry You Do Not Have Access Of The Requested Page</p>

</body>
</html>
