@{
    ViewData["Title"] = "Index";
}

@section AddStyles{
    <style>
        .bg-image, .container-fluid{
            max-width: 768px;
        } 
    </style>
}

<div class="links w-100 d-flex flex-column align-items-center">
    <a asp-area="" asp-controller="RequestForms" asp-action="SubmitRequest"
       class="w-100 text-center p-3 mb-5 btn btn-info text-white fs-5">
        Submit
        A Request
    </a>
    <a asp-area="" asp-controller="Login" asp-action="Index" class="w-100 text-center p-3 mb-5 btn btn-primary text-white fs-5">
        Registered
        Users
    </a>
</div>

@section AddScript
{
    <partial name="_ToastMessageScriptsPartial" />
}
