
html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.custom-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.updated {
    font-size: 16px;
    font-weight: bold;
    opacity: 1 !important;
    min-width: 345px !important;
}