@{
    ViewData["Title"] = "Encounter Form";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@section AddStyles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link href="@Url.Content("~/css/requestform.css")" rel="stylesheet" type="text/css" />
}

@model HalloDocServices.ViewModels.AdminViewModels.EncounterFormViewModel

<div class="main">

    @*<partial name="_NavbarLinks"></partial>*@

    <div class="container p-4">
        <div class="heading d-flex justify-content-between align-items-center mb-3">
            <h1 class="h2 mb-3">Encounter Form</h1>
            <button class="btn btn-outline-info d-flex align-items-center" onclick="window.history.back()">
                <span class="material-symbols-outlined text-info fs-6">
                    arrow_back_ios
                </span>
                <span>Back</span>
            </button>
        </div>
        <form asp-route="EncounterForm" id="encounter-form" class="bg-body p-4  request-form">
            @if (Model.IsPhysician != true && Model.IsFinalized == true)
            {
                <div class="alert alert-info" role="alert">
                    <i class="bi bi-info-circle-fill"></i>
                    Encounter Form has been finalized by the physician.
                </div>
            }

            @if (Model.EncounterFormId == 0)
            {
                <div class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    Physician has not created the encounter form yet.
                </div>
            }

            <h1 class="text-info text-center mb-3">Medical Report-Confidential</h1>
            <input type="number" asp-for="RequestId" hidden>
            <input type="number" asp-for="EncounterFormId" hidden>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="FirstName" class="form-control" id="FirstName"
                               placeholder="First Name"  >
                        <label asp-for="FirstName">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="LastName" class="form-control" id="LastName"
                               placeholder="Last Name"  >
                        <label asp-for="LastName">Last Name</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Location" class="form-control" id="Location"
                               placeholder="Location"  >
                        <label asp-for="Location">Location</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="DOB" class="form-control" id="DOB" placeholder="DOB"  >
                        <label asp-for="DOB">Date Of Birth</label>
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="ServiceDate" class="form-control" id="ServiceDate" placeholder="ServiceDate"  >
                        <label asp-for="ServiceDate">ServiceDate</label>
                    </div>
                </div>

                <div class="col-md-6 pb-3">
                    <input type="tel" asp-for="PhoneNumber" class="form-control w-100" id="PhoneNumber"   />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="Email" class="form-control" id="Email" placeholder="abc@xyz.pqr" autocomplete="off"  >
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="PresentIllnessHistory" class="form-control" placeholder="PresentIllnessHistory" id="PresentIllnessHistory"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="PresentIllnessHistory">History of present illness or injury</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="MedicalHistory" class="form-control" placeholder="MedicalHistory" id="MedicalHistory"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="MedicalHistory">Medical History</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Medications" class="form-control" placeholder="Medications" id="Medications"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Medications">Medications</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Allergies" class="form-control" placeholder="Allergies" id="Allergies"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Allergies">Allergies</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Temperature" class="form-control" id="Temperature"
                               placeholder="Temperature"  >
                        <label asp-for="Temperature">Temperature</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="RespirationRate" class="form-control" id="RespirationRate"
                               placeholder="RespirationRate"  >
                        <label asp-for="RespirationRate">RR</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="HeartRate" class="form-control" id="HeartRate"
                               placeholder="HeartRate"  >
                        <label asp-for="HeartRate">HR</label>
                    </div>
                </div>

                <div class="col-6 col-lg-2">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BloodPressureSystolic" class="form-control" id="BloodPressureSystolic"
                               placeholder="BloodPressureSystolic"  >
                        <label asp-for="BloodPressureSystolic">BP(Systolic)</label>
                    </div>
                </div>

                <div class="col-6 col-lg-2">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BloodPressureDiastolic" class="form-control" id="BloodPressureDiastolic"
                               placeholder="BloodPressureDiastolic"  >
                        <label asp-for="BloodPressureDiastolic">BP(Diastolic)</label>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="OxygenLevel" class="form-control" id="OxygenLevel"
                               placeholder="OxygenLevel"  >
                        <label asp-for="OxygenLevel">O2</label>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Pain" class="form-control" id="Pain"
                               placeholder="Pain"  >
                        <label asp-for="Pain">Pain</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Heent" class="form-control" placeholder="Heent" id="Heent"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Heent">HEENT</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Cardiovascular" class="form-control" placeholder="Cardiovascular" id="Cardiovascular"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Cardiovascular">CV</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Chest" class="form-control" placeholder="Chest" id="Chest"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Chest">Chest</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Abdomen" class="form-control" placeholder="Abdomen" id="Abdomen"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Abdomen">ABD</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Extremities" class="form-control" placeholder="Extremities" id="Extremities"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Extremities">Extr</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Skin" class="form-control" placeholder="Skin" id="Skin"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Skin">Skin</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Neuro" class="form-control" placeholder="Neuro" id="Neuro"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Neuro">Neuro</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Other" class="form-control" placeholder="Other" id="Other"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Other">Other</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Diagnosis" class="form-control" placeholder="Diagnosis" id="Diagnosis"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Diagnosis">Diagnosis</label>
                        <span asp-validation-for="Diagnosis" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="TreatmentPlan" class="form-control" placeholder="TreatmentPlan" id="TreatmentPlan"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="TreatmentPlan">Treatment Plan</label>
                        <span asp-validation-for="TreatmentPlan" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="MedicationsDispensed" class="form-control" placeholder="MedicationsDispensed" id="MedicationsDispensed"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="MedicationsDispensed">Medications Dispensed</label>
                        <span asp-validation-for="MedicationsDispensed" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Procedures" class="form-control" placeholder="Procedures" id="Procedures"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="Procedures">Procedures</label>
                        <span asp-validation-for="Procedures" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea asp-for="FollowUp" class="form-control" placeholder="FollowUp" id="FollowUp"
                                  style="height: 100px"  ></textarea>
                        <label asp-for="FollowUp">Follow Up</label>
                        <span asp-validation-for="FollowUp" class="text-danger"></span>
                    </div>
                </div>

            </div>


            @if(Model.EncounterFormId != 0)
            {
                <div class="submit mb-4 d-flex justify-content-end flex-wrap">
                    @if (Model.IsPhysician && Model.IsFinalized != true)
                    {
                        <button type="button" id="save" class="btn btn-info py-2 px-3 ms-2 mb-2 text-white">Save Changes</button>
                        <button type="button" id="finalize" class="btn btn-primary py-2 px-3 ms-2 mb-2 text-white">Finalize</button>
                        <input type="reset" value="Cancel" class="btn cancelbtn btn-outline-info py-2 px-3 ms-2 mb-2">
                    }
                    else if(Model.IsPhysician == false)
                    {
                        <button type="button" id="save-admin" class="btn btn-info py-2 px-3 ms-3 text-white">Save Changes</button>
                        <input type="reset" value="Cancel" class="btn cancelbtn btn-outline-info py-2 px-3 ms-3">
                    }

                </div>

                
            }

        </form>


    </div>

</div>



@section AddScript{
    <partial name="_ToastMessageScriptsPartial" />

    <script>
        const phoneInputField = document.querySelector("#PhoneNumber");
        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry: "in",
            preferredCountries: ["in"],
            onlyCountries: ["in", "us", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
    <script>
        $('#finalize').click(function () {
            $('#encounter-form').attr('action', '/Physician/Finalize');
            $('#encounter-form').attr('method', 'post');
            $('#encounter-form').submit();
        });
        
        $('#save').click(function () {
            $('#encounter-form').attr('action', '/Dashboard/EncounterForm');
            $('#encounter-form').attr('method', 'post');
            $('#encounter-form').submit();
        });
        
        $('#save-admin').click(function () {
            $('#encounter-form').attr('action', '/Dashboard/EncounterForm');
            $('#encounter-form').attr('method', 'post');
            $('#encounter-form').submit();
        });
    </script>

    @*TRIM REQUIRED VALUES*@
    <script>
        $('#FirstName').change(function () {
            let value = $('#FirstName').val();
            let trimmedValue = value.trim();
            $('#FirstName').val(trimmedValue);
        });

        $('#Diagnosis').change(function () {
            let value = $('#Diagnosis').val();
            let trimmedValue = value.trim();
            $('#Diagnosis').val(trimmedValue);
        });

        $('#TreatmentPlan').change(function () {
            let value = $('#TreatmentPlan').val();
            let trimmedValue = value.trim();
            $('#TreatmentPlan').val(trimmedValue);
        });

        $('#MedicationsDispensed').change(function () {
            let value = $('#MedicationsDispensed').val();
            let trimmedValue = value.trim();
            $('#MedicationsDispensed').val(trimmedValue);
        });

        $('#Procedures').change(function () {
            let value = $('#Procedures').val();
            let trimmedValue = value.trim();
            $('#Procedures').val(trimmedValue);
        });

        $('#FollowUp').change(function () {
            let value = $('#FollowUp').val();
            let trimmedValue = value.trim();
            $('#FollowUp').val(trimmedValue);
        });
    </script>
}

