@{
    ViewData["Title"] = "Encounter Form";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@section AddStyles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link href="@Url.Content("~/css/requestform.css")" rel="stylesheet" type="text/css" />
}

@model HalloDocServices.ViewModels.AdminViewModels.EncounterFormViewModel

<div class="main">

    <partial name="_NavbarLinks"></partial>

    <div class="container p-4">
        <div class="heading d-flex justify-content-between align-items-center mb-3">
            <h1 class="h2 mb-3">Encounter Form</h1>
            <a class="btn back-btn">
                <img src="~/images/backIcon.svg" alt="">
                Back
            </a>
        </div>
        <form asp-action="EncounterForm" class="bg-white p-4  request-form rounded-0 shadow-none">
            <h1 class="text-info text-center mb-3">Medical Report-Confidential</h1>
            <input type="number" asp-for="RequestId" hidden>
            <input type="number" asp-for="EncounterFormId" hidden>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="FirstName" class="form-control" id="FirstName"
                               placeholder="First Name" readonly>
                        <label asp-for="FirstName">First Name</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="LastName" class="form-control" id="LastName"
                               placeholder="Last Name" readonly>
                        <label asp-for="LastName">Last Name</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Location" class="form-control" id="Location"
                               placeholder="Location" readonly>
                        <label asp-for="Location">Location</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="DOB" class="form-control" id="DOB" placeholder="DOB" readonly>
                        <label asp-for="DOB">Date Of Birth</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="ServiceDate" class="form-control" id="ServiceDate" placeholder="ServiceDate" readonly>
                        <label asp-for="ServiceDate">ServiceDate</label>
                    </div>
                </div>

                <div class="col-md-6 pb-3">
                    <input type="tel" asp-for="PhoneNumber" class="form-control w-100" id="PhoneNumber" readonly />
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="Email" class="form-control" id="Email"
                               placeholder="abc@xyz.pqr" autocomplete="off" readonly>
                        <label asp-for="Email">Email</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="PresentIllnessHistory" class="form-control" placeholder="PresentIllnessHistory" id="PresentIllnessHistory"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="PresentIllnessHistory">History of present illness or injury</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="MedicalHistory" class="form-control" placeholder="MedicalHistory" id="MedicalHistory"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="MedicalHistory">Medical History</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Medications" class="form-control" placeholder="Medications" id="Medications"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Medications">Medications</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Allergies" class="form-control" placeholder="Allergies" id="Allergies"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Allergies">Allergies</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Temperature" class="form-control" id="Temperature"
                               placeholder="Temperature" readonly>
                        <label asp-for="Temperature">Temperature</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="RespirationRate" class="form-control" id="RespirationRate"
                               placeholder="RespirationRate" readonly>
                        <label asp-for="RespirationRate">RR</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="HeartRate" class="form-control" id="HeartRate"
                               placeholder="HeartRate" readonly>
                        <label asp-for="HeartRate">HR</label>
                    </div>
                </div>

                <div class="col-6 col-lg-2">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BloodPressureSystolic" class="form-control" id="BloodPressureSystolic"
                               placeholder="BloodPressureSystolic" readonly>
                        <label asp-for="BloodPressureSystolic">BP(Systolic)</label>
                    </div>
                </div>

                <div class="col-6 col-lg-2">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BloodPressureDiastolic" class="form-control" id="BloodPressureDiastolic"
                               placeholder="BloodPressureDiastolic" readonly>
                        <label asp-for="BloodPressureDiastolic">BP(Diastolic)</label>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="OxygenLevel" class="form-control" id="OxygenLevel"
                               placeholder="OxygenLevel" readonly>
                        <label asp-for="OxygenLevel">O2</label>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Pain" class="form-control" id="Pain"
                               placeholder="Pain" readonly>
                        <label asp-for="Pain">Pain</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Heent" class="form-control" placeholder="Heent" id="Heent"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Heent">HEENT</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Cardiovascular" class="form-control" placeholder="Cardiovascular" id="Cardiovascular"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Cardiovascular">CV</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Chest" class="form-control" placeholder="Chest" id="Chest"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Chest">Chest</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Abdomen" class="form-control" placeholder="Abdomen" id="Abdomen"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Abdomen">ABD</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Extremities" class="form-control" placeholder="Extremities" id="Extremities"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Extremities">Extr</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Skin" class="form-control" placeholder="Skin" id="Skin"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Skin">Skin</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Neuro" class="form-control" placeholder="Neuro" id="Neuro"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Neuro">Neuro</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Other" class="form-control" placeholder="Other" id="Other"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Other">Other</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Diagnosis" class="form-control" placeholder="Diagnosis" id="Diagnosis"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Diagnosis">Diagnosis</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="TreatmentPlan" class="form-control" placeholder="TreatmentPlan" id="TreatmentPlan"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="TreatmentPlan">Treatment Plan</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="MedicationsDispensed" class="form-control" placeholder="MedicationsDispensed" id="MedicationsDispensed"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="MedicationsDispensed">Medications Dispensed</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Procedures" class="form-control" placeholder="Procedures" id="Procedures"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="Procedures">Procedures</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea asp-for="FollowUp" class="form-control" placeholder="FollowUp" id="FollowUp"
                                  style="height: 100px" readonly></textarea>
                        <label asp-for="FollowUp">Follow Up</label>
                    </div>
                </div>

            </div>


            <div class="submit mb-4 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-info py-2 px-3 ms-3" id="editbtn">Edit</button>
                <input type="submit" value="Save Changes" id="save" class="btn btn-info py-2 px-3 ms-3 text-white d-none">
                <input type="reset" value="Cancel" class="btn cancelbtn btn-outline-info py-2 px-3 ms-3 d-none">
            </div>

        </form>


    </div>

</div>



@section AddScript{
    <script>
        const phoneInputField = document.querySelector("#PhoneNumber");
        const phoneInput = window.intlTelInput(phoneInputField, {
            preferredCountries: ["us", "in", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
    <script>
        const editBtn = document.querySelector('#editbtn');
        const saveBtn = document.querySelector('#save');
        const cancelBtn = document.querySelector('input[type="reset"]');

        const emailInp = document.querySelector('input[type="email"]');
        const phoneInp = document.querySelector('input[type="tel"]');

        const inputTags = document.querySelectorAll('input');
        const textareaTags = document.querySelectorAll('textarea');

        //document.addEventListener('DOMContentLoaded', () => {
        //    inputTags.forEach(input => {
        //        input.readOnly = true;
        //    });
        //});

        if (editBtn !== null) {
            editBtn.addEventListener('click', () => {
                editBtn.classList.add('d-none');

                saveBtn.classList.remove('d-none');
                cancelBtn.classList.remove('d-none');

                inputTags.forEach(input => {
                    input.readOnly = false;
                })

                textareaTags.forEach(textarea => {
                    textarea.readOnly = false;
                })
            });
        }

        cancelBtn.addEventListener('click', () => {
            saveBtn.classList.add('d-none');
            cancelBtn.classList.add('d-none');

            editBtn.classList.remove('d-none');

            inputTags.forEach(input => {
                input.readOnly = true;
            })

            textareaTags.forEach(textarea => {
                textarea.readOnly = true;
            })
        })



    </script>
}

