
@{
    ViewData["Title"] = "View Notes";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="main">

    <partial name="_NavbarLinks"></partial>

    <div>

    </div>

</div>

