
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDocServices.ViewModels.AdminViewModels.CancelCaseViewModel

<div class="modal fade" data-bs-backdrop="static" id="cancel-case-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3">
            <div class="modal-header fw-bold bg-info text-white">
                <h1 class="modal-title fs-5 " id="modaltitle">Confirm Cancellation </h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Patient Name: <span class="text-info fw-bold">@Model.PatientFullName</span></p>
                <form asp-action="CancelCase" id="cancel-case-form" class="needs-validation" novalidate>
                    <input type="number" asp-for="@Model.RequestId" hidden/>
                    <div class="mb-3">
                        <select asp-for="CaseTagId" class="form-select p-3" required>
                            <option value="" selected>Select Reason</option>
                            @for(int i = 0; i < Model.CaseTagIds?.Count(); i++)
                            {
                                @if(Model.CaseTags?[i] != null)
                                {
                                    <option value="@Model.CaseTagIds[i]">@Model.CaseTags[i]</option>
                                }
                            }
                        </select>
                        <div class="invalid-feedback">
                            Please select a case tag.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="AdminCancellationNote" class="form-control" placeholder="Cancellation notes" id="" style="height: 100px" required></textarea>
                        <label asp-for="AdminCancellationNote">Provide Additional Notes</label>
                        <div class="invalid-feedback">
                            Please enter cancellation reason.
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="submit" value="Confirm" class="btn btn-info text-white" id="cancel-case-submit" />
                        @*<button type="button" class="btn btn-info text-white" id="cancel-case-submit">Confirm</button>*@
                        <button type="button" class="btn btn-outline-info ms-3" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>