@model HalloDocServices.ViewModels.AdminViewModels.ContactProviderViewModel

<div class="modal fade" data-bs-backdrop="static" id="contact-provider-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3">
            <div class="modal-header fw-bold bg-info text-white">
                <h1 class="modal-title fs-5 " id="modaltitle">Contact Your Provider</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Provider Name: @Model.ProviderName</p>
                <p class="mb-3">Choose communication type to send message</p>
                <form asp-action="ContactProvider">
                    <input type="number" asp-for="ProviderId" hidden />
                    <input type="email" asp-for="ProviderEmail" hidden />
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="CommunicationType" value="sms" id="sms">
                        <label class="form-check-label" for="sms">
                            SMS
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="CommunicationType" value="email" id="email" checked>
                        <label class="form-check-label" for="email">
                            Email
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="CommunicationType" value="both" id="both">
                        <label class="form-check-label" for="both">
                            Both
                        </label>
                    </div>
                    <div class="form-floating mb-3" id="SubjectField">
                        <input type="text" asp-for="Subject" class="form-control" id="Subject" placeholder="Subject">
                        <label asp-for="Subject">Subject</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" asp-for="Message" placeholder="Message" id="Message" style="height: 150px"></textarea>
                        <label asp-for="Message">Message</label>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="submit" value="Send" class="btn btn-info text-white" />
                        <button type="button" class="btn btn-outline-info ms-3" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
