@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDocServices.ViewModels.AdminViewModels.DownloadFormViewModel

<div class="modal fade" data-bs-backdrop="static" id="download-form-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3">
            <div class="modal-header fw-bold bg-info text-white">
                <h1 class="modal-title fs-5 " id="modaltitle">Encounter Form</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Encounter form is finalized successfully.</p>
                <form asp-action="DownloadEncounterForm" class="text-center p-3">
                    <input type="number" asp-for="RequestId" hidden/>
                    <input type="submit" value="Download" class="btn btn-info text-white" />
                </form>
            </div>
        </div>
    </div>
</div>



