@model List<HalloDocServices.ViewModels.AdminViewModels.MDsListViewModel>

<div class="bg-white container-fluid p-4 rounded-3 custom-shadow">
    
    <h4 class="mb-3">MD's On Call</h4>
    <div class="row mb-3">
        <div class="col-sm-6 col-md-4 d-flex mb-3">
            <img src="/Upload/Physician/1/ProfilePhoto.jpg" class="img-fluid h-100 w-25 me-2 " />
            <span>Dr Brown</span>
        </div>
        <div class="col-sm-6 col-md-4 d-flex mb-3">
            <img src="/Upload/Physician/1/ProfilePhoto.jpg" class="img-fluid h-100 w-25 me-2" />
            <span>Dr Brown</span>
        </div>
        <div class="col-sm-6 col-md-4 d-flex mb-3">
            <img src="/Upload/Physician/1/ProfilePhoto.jpg" class="img-fluid h-100 w-25 me-2" />
            <span>Dr Brown</span>
        </div>
        <div class="col-sm-6 col-md-4 d-flex mb-3">
            <img src="/Upload/Physician/1/ProfilePhoto.jpg" class="img-fluid h-100 w-25 me-2" />
            <span>Dr Brown</span>
        </div>
    </div>
    <h4 class="mb-3">Physicians Off Duty</h4>
    <div class="row">
        <div class="col-sm-6 col-md-4 d-flex mb-3">
            <img src="/Upload/Physician/1/ProfilePhoto.jpg" class="img-fluid h-100 w-25 me-2" />
            <span>Dr Brown</span>
        </div>
        <div class="col-sm-6 col-md-4 d-flex mb-3">
            <img src="/Upload/Physician/1/ProfilePhoto.jpg" class="img-fluid h-100 w-25 me-2" />
            <span>Dr Brown</span>
        </div>
        <div class="col-sm-6 col-md-4 d-flex mb-3">
            <img src="/Upload/Physician/1/ProfilePhoto.jpg" class="img-fluid h-100 w-25 me-2" />
            <span>Dr Brown</span>
        </div>
        <div class="col-sm-6 col-md-4 d-flex mb-3">
            <img src="/Upload/Physician/1/ProfilePhoto.jpg" class="img-fluid h-100 w-25 me-2" />
            <span>Dr Brown</span>
        </div>
    </div>
</div>