@model HalloDocServices.ViewModels.AdminViewModels.MDsListViewModel

<div class="bg-white container-fluid p-4 rounded-3 custom-shadow">
    
    <h4 class="mb-3">MD's On Call</h4>
    <div class="row mb-3">
        @foreach(var md in Model.UnavailableMDs)
        {
            <div class="col-sm-6 col-md-4 d-flex mb-3">
                <img src="@md.ProfilePhotoPath" class="img-fluid h-100 w-25 me-2 " />
                <span>@md.FullName</span>
            </div>
        }
    </div>

    <h4 class="mb-3">Physicians Off Duty</h4>
    <div class="row">
        @foreach (var md in Model.AvailableMDs)
        {
            <div class="col-sm-6 col-md-4 d-flex mb-3">
                <img src="@md.ProfilePhotoPath" class="img-fluid h-100 w-25 me-2 " />
                <span>@md.FullName</span>
            </div>
        }
    </div>
</div>