

.wrapper {
    min-height: 100vh;
}

.header, .footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: #FAF9F6;
}

.navbar {
    border-bottom: 1px solid rgb(108, 117, 125, 0.27);
}

.navbar-logo {
    max-width: 150px;
    height: auto;
}

.back-btn {
    color: #0dcaf0;
    font-weight: bold;
    font-size: large;
    border: 1px solid #0dcaf0;
}

    .back-btn:hover {
        color: #0dcaf0;
        font-weight: bold;
        font-size: large;
        box-shadow: 0 0 3px #0dcaf0;
    }

.theme-btn:hover {
    background-color: transparent;
    box-shadow: 0 0 10px #0dcaf0;
}

.nav-link {
    color: #212529;
    border: none !important;
}

.active {
    color: #0dcaf0 !important;
    border-bottom: 2px solid #0dcaf0 !important;
}

.accordion-button, .accordion-body {
    background-color: #e7f1ff;
    color: #000;
}

    .accordion-button::after, .accordion-button:not(.collapsed)::after {
        display: none;
    }

    .accordion-button:not(.collapsed) {
        color: black;
    }

.form-control {
    transition: border-color .1s ease-in-out;
}

.form-control:focus, .form-select:focus, .form-check-input:focus {
    box-shadow: none;
    border: 2px solid #0dcaf0;
}

.form-check-input:checked {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.form-floating>label{
    transition: all .1s ease-in-out;
}

.updated {
    font-size: 16px;
    font-weight: bold;
    opacity: 1 !important;
    min-width: 345px !important;
    /*height: 60px !important;*/
}

/*.toast-message{
    height: 100%;
    display: flex;
    align-items: center;
}*/

.btn-check:focus + .btn-info, .btn-info:focus {
    box-shadow: none;
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: none;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #0dcaf0;
    font-weight: bold;
    background-color: #0dcaf025;
}

.custom-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}