/*html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

.theme-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

    .theme-btn:hover {
        background-color: transparent;
        box-shadow: 0 0 10px #0dcaf0;
    }

.bg-image {
    background-image: url("/images/background1.jpg");
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100vh;
    max-width: 425px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    opacity: 0.5;
}

.container-fluid {
    height: 100vh;
    max-width: 425px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    max-width: 100%;
}

.footer a {
    text-decoration: none;
    color: #636363;
}

.updated {
    font-size: 16px;
    font-weight: bold;
    opacity: 1 !important;
    min-width: 345px !important;
    /*height: 60px !important;*/
}

@media screen and (max-width: 575px) {
    .logo-div {
        /* margin-top: 35px; */
        transform: translateY(70px);
    }
}




