body {
    background-color: var(--bs-secondary-bg);
}

.wrapper {
    min-height: 100vh;
}

.header, .footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.navbar {
    border-bottom: 1px solid rgb(108, 117, 125, 0.27);
}

.navbar-toggler {
    border-color: var(--bs-btn-border-color) !important;
}

.navbar-logo {
    max-width: 150px;
    height: auto;
}


.theme-btn:hover {
    background-color: transparent;
    box-shadow: 0 0 10px #0dcaf0;
}

.nav-link {
    border: none !important;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-body-color-rgb),var(--bs-text-opacity)) !important;
}

.active {
    color: #0dcaf0 !important;
    border-bottom: 2px solid #0dcaf0 !important;
}

.btn {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.btn-outline-info:hover {
    color: #fff !important;
}

    .btn-outline-info:hover .material-symbols-outlined {
        color: #fff !important;
    }

.custom-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.updated {
    font-size: 16px;
    font-weight: bold;
    opacity: 1 !important;
    min-width: 345px !important;
    /*height: 60px !important;*/
}
