.container-fluid {
    min-height: 100vh;
}

.navbar {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-logo {
    max-width: 200px;
    height: auto;
}

.theme-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

    .theme-btn:hover {
        background-color: transparent;
        box-shadow: 0 0 10px #0dcaf0;
    }

.updated {
    font-size: 16px;
    font-weight: bold;
    opacity: 1 !important;
    min-width: 345px !important;
    /*height: 60px !important;*/
}

