@{
    ViewData["Title"] = "Business Request";
    Layout = "~/Views/Shared/_RequestLayout.cshtml";
}

@model HalloDocServices.ViewModels.BusinessRequestViewModel

@section AddStyles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link href="@Url.Content("~/css/requestform.css")" rel="stylesheet" type="text/css" />
}


<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-5">
                <img src="~/images/exclamationIcon.svg" alt="">
                <h3 class="my-4">Information</h3>
                <p class="text-secondary">
                    When submitting a request, you must provide correct contact
                    information for the patient
                    or the responsible party. Failure to provide the correct email and phone number will
                    delay service or be declined.
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-info text-white px-3 py-2" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="main p-4">
    <div class="back pb-4 d-flex justify-content-end">
        @*<a asp-area="" asp-controller="RequestForms" asp-action="SubmitRequest" class="btn back-btn">
            <img src="~/images/backIcon.svg" alt="">
            Back
        </a>*@
        <button class="btn btn-outline-info d-flex align-items-center" onclick="window.history.back()">
            <span class="material-symbols-outlined text-info fs-6">
                arrow_back_ios
            </span>
            <span>Back</span>
        </button>
    </div>

    <form asp-action="BusinessRequest" class="container bg-body p-4 request-form">


        <div class="family-info mb-4">
            <h2 class="mb-3">Business Partner Information</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BusinessFirstName" class="form-control" id="BusinessFirstName" 
                               placeholder="First Name">
                        <label asp-for="BusinessFirstName">Your First Name</label>
                        <span asp-validation-for="BusinessFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BusinessLastName" class="form-control" id="BusinessLastName" 
                               placeholder="Last Name">
                        <label asp-for="BusinessLastName">Your Last Name</label>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <input type="tel" asp-for="BusinessPhoneNumber" class="form-control w-100" id="BusinessPhone" />
                    <span asp-validation-for="BusinessPhoneNumber" class="text-danger"></span>

                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="BusinessEmail" class=" form-control" id="BusinessEmail" 
                               placeholder="abc@xyz.pqr">
                        <label asp-for="BusinessEmail">Your Email</label>
                        <span asp-validation-for="BusinessEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BusinessName" class="form-control" id="BusinessName"
                               placeholder="Business/Property Name">
                        <label asp-for="BusinessName">Business/Property Name</label>
                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="number" asp-for="BusinessCaseNumber" class="form-control" id="BusinessCaseNumber" 
                               placeholder="Case Number">
                        <label asp-for="BusinessCaseNumber">Case Number (Optional)</label>
                        <span asp-validation-for="BusinessCaseNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="info mb-4">
            <h2 class="mb-3">Patient Information</h2>
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea asp-for="PatientInfo.Symptoms" class="form-control" placeholder="Enter Symptoms" id="Symptoms"
                                   style="height: 100px"></textarea>
                        <label asp-for="PatientInfo.Symptoms">Enter Brief Details of Symptoms</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.FirstName" class="form-control" id="FirstName" 
                               placeholder="First Name">
                        <label asp-for="PatientInfo.FirstName">First Name</label>
                        <span asp-validation-for="PatientInfo.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.LastName" class="form-control" id="LastName"
                               placeholder="Last Name">
                        <label asp-for="PatientInfo.LastName">Last Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="PatientInfo.DOB" class="form-control" id="DOB" 
                               placeholder="DOB">
                        <label asp-for="PatientInfo.DOB">Date Of Birth</label>
                        <span asp-validation-for="PatientInfo.DOB"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-info mb-4">
            <h2 class="mb-3">Patient Contact Information</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="PatientInfo.Email" class="form-control" id="Email"
                               placeholder="abc@xyz.pqr">
                        <label asp-for="PatientInfo.Email">Email</label>
                        <span asp-validation-for="PatientInfo.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <input type="tel" asp-for="PatientInfo.PhoneNumber" class="form-control w-100" id="PhoneNumber" />
                    <span asp-validation-for="PatientInfo.PhoneNumber" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="location-info mb-4">
            <h2 class="mb-3">Patient Location</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.Street" class="form-control" id="Street" 
                               placeholder="Street">
                        <label asp-for="PatientInfo.Street">Street</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.City" class="form-control" id="City" 
                               placeholder="City">
                        <label asp-for="PatientInfo.City">City</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <select asp-for="PatientInfo.RegionId" id="region-list" class="form-select p-3" asp-items="@ViewBag.RegionList">
                            <option value="" selected>Select State</option>
                        </select>
                        <span asp-validation-for="PatientInfo.RegionId" class="text-danger"></span>
                        <input type="text" asp-for="PatientInfo.State" id="State" hidden />
                    </div>
                </div>
                @* <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.State" class="form-control" id="State"
                               placeholder="State">
                        <label asp-for="PatientInfo.State">State</label>
                        <span asp-validation-for="PatientInfo.State" class="text-danger"></span>
                    </div>
                </div> *@
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.ZipCode" class="form-control" id="ZipCode"
                               placeholder="Zip Code">
                        <label asp-for="PatientInfo.ZipCode">Zipcode</label>
                        <span asp-validation-for="PatientInfo.ZipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.Room" class="form-control" id="Room"
                               placeholder="Room">
                        <label asp-for="PatientInfo.Room">Room # / Suite (Optional)</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="submit mb-4 d-flex justify-content-end">
            <input type="submit" value="Submit" class="btn btn-info py-2 px-3 text-white">
            <input type="reset" value="Cancel" class="btn btn-outline-info py-2 px-3 ms-3">
        </div>

    </form>
</div>

@section AddScript{
    <partial name="_ToastMessageScriptsPartial" />

    <script>
        const phoneInputField = document.querySelector("#BusinessPhone");
        const ptphoneInputField = document.querySelector("#PhoneNumber");

        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry: "in",
            preferredCountries: ["in"],
            onlyCountries: ["in", "us", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        const ptphoneInput = window.intlTelInput(ptphoneInputField, {
            initialCountry: "in",
            preferredCountries: ["in"],
            onlyCountries: ["in", "us", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>
    <script>
        const dateInput = document.querySelector('#DOB');
        dateInput.max = new Date().toISOString().split("T")[0];

        $('#region-list').change(function () {
            const state = $('#region-list').find('option:selected').text();
            $('#State').val(state);
        })
    </script>
}

