@{
    ViewData["Title"] = "Concierge Request";
    Layout = "~/Views/Shared/_RequestLayout.cshtml";
}

@model HalloDocServices.ViewModels.ConciergeRequestViewModel

@section AddStyles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link href="@Url.Content("~/css/requestform.css")" rel="stylesheet" type="text/css" />
}


<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-5">
                <img src="~/images/exclamationIcon.svg" alt="">
                <h3 class="my-4">Information</h3>
                <p class="text-secondary">
                    When submitting a request, you must provide correct contact
                    information for the patient
                    or the responsible party. Failure to provide the correct email and phone number will
                    delay service or be declined.
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-info text-white px-3 py-2" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="main p-4">
    <div class="back pb-4 d-flex justify-content-end">
        <a asp-area="" asp-controller="RequestForms" asp-action="SubmitRequest" class="btn back-btn">
            <img src="~/images/backIcon.svg" alt="">
            Back
        </a>
    </div>

    <form asp-action="ConciergeRequest" class="container bg-white p-4 request-form">


        <div class="family-info mb-4">
            <h2 class="mb-3">Concierge Information</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="ConciergeFirstName" class="form-control" id="ConciergeFirstName"
                               placeholder="First Name">
                        <label asp-for="ConciergeFirstName">Your First Name</label>
                        <span asp-validation-for="ConciergeFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="ConciergeLastName" class="form-control" id="ConciergeLastName"
                               placeholder="Last Name">
                        <label asp-for="ConciergeLastName">Your Last Name</label>
                        <span asp-validation-for="ConciergeLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <input type="tel" asp-for="ConciergePhoneNumber" class="form-control w-100" id="ConciergePhoneNumber" />
                    <span asp-validation-for="ConciergePhoneNumber" class="text-danger"></span>

                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="ConciergeEmail" class="form-control" id="ConciergeEmail"
                               placeholder="abc@xyz.pqr">
                        <label asp-for="ConciergeEmail">Your Email</label>
                        <span asp-validation-for="ConciergeEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="ConciergePropertyName" class="form-control" id="ConciergePropertyName" 
                               placeholder="House/Property Name">
                        <label asp-for="ConciergePropertyName">House/Property Name</label>
                        <span asp-validation-for="ConciergePropertyName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="location-info mb-4">
            <h2 class="mb-3">Concierge Location</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="ConciergeStreet" class="form-control" id="ConciergeStreet" 
                               placeholder="Street">
                        <label asp-for="ConciergeStreet">Street</label>
                        <span asp-validation-for="ConciergeStreet" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="ConciergeCity" class="form-control" id="ConciergeCity" 
                               placeholder="City">
                        <label asp-for="ConciergeCity">City</label>
                        <span asp-validation-for="ConciergeCity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <select asp-for="ConciergeRegionId" id="region-list" class="form-select p-3" asp-items="@ViewBag.RegionList">
                            <option value="" selected>Select State</option>
                        </select>
                        <span asp-validation-for="ConciergeRegionId" class="text-danger"></span>
                        <input type="text" asp-for="ConciergeState" id="State" hidden />
                    </div>
                </div>
                @* <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="ConciergeState" class="form-control" id="ConciergeState" 
                               placeholder="City">
                        <label asp-for="ConciergeState">State</label>
                        <span asp-validation-for="ConciergeState" class="text-danger"></span>
                    </div>
                </div> *@
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="ConciergeZipCode" class="form-control" id="ConciergeZipCode"
                               placeholder="Zipcode">
                        <label asp-for="ConciergeZipCode">Zipcode</label>
                        <span asp-validation-for="ConciergeZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="info mb-4">
            <h2 class="mb-3">Patient Information</h2>
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea asp-for="PatientInfo.Symptoms" class="form-control" placeholder="Enter Symptoms" id="PatientInfo.Symptoms"
                                   style="height: 100px"></textarea>
                        <label asp-for="PatientInfo.Symptoms">Enter Brief Details of Symptoms</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.FirstName" class="form-control" id="PatientInfo.FirstName"
                               placeholder="First Name">
                        <label asp-for="PatientInfo.FirstName">First Name</label>
                        <span asp-validation-for="PatientInfo.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input asp-for="PatientInfo.LastName" type="text" class="form-control" id="PatientInfo.LastName"
                               placeholder="Last Name">
                        <label asp-for="PatientInfo.LastName">Last Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="PatientInfo.DOB" class="form-control" id="DOB"
                               placeholder="DOB">
                        <label asp-for="PatientInfo.DOB">Date Of Birth</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-info mb-4">
            <h2 class="mb-3">Patient Contact Information</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="PatientInfo.Email" class="form-control" id="PatientInfo.Email"
                               placeholder="abc@xyz.pqr">
                        <label asp-for="PatientInfo.Email">Email</label>
                        <span asp-validation-for="PatientInfo.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <input asp-for="PatientInfo.PhoneNumber" class="form-control w-100" id="PhoneNumber" type="tel" />
                    <span asp-validation-for="PatientInfo.PhoneNumber" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="location-info mb-4">
            <h2 class="mb-3">Patient Location</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.Room" class="form-control" id="PatientInfo.Room"
                               placeholder="City">
                        <label asp-for="PatientInfo.Room">Room # / Suite (Optional)</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="submit mb-4 d-flex justify-content-end">
            <input type="submit" value="Submit" class="btn btn-info py-2 px-3 text-white">
            <input type="reset" value="Cancel" class="btn btn-outline-info py-2 px-3 ms-3">
        </div>

    </form>
</div>

@section AddScript{
    <script>
        const phoneInputField = document.querySelector("#ConciergePhoneNumber");
        const ptphoneInputField = document.querySelector("#PhoneNumber");

        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry: "in",
            preferredCountries: ["in"],
            onlyCountries: ["in", "us", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        const ptphoneInput = window.intlTelInput(ptphoneInputField, {
            initialCountry: "in",
            preferredCountries: ["in"],
            onlyCountries: ["in", "us", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>
    <script>
        const dateInput = document.querySelector('#DOB');
        dateInput.max = new Date().toISOString().split("T")[0];

        $('#region-list').change(function () {
            const state = $('#region-list').find('option:selected').text();
            $('#State').val(state);
        })
    </script>
}

