@{
    ViewData["Title"] = "Family Request";
    Layout = "~/Views/Shared/_RequestLayout.cshtml";
}

@model HalloDocServices.ViewModels.FamilyRequestViewModel

@section AddStyles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link href="@Url.Content("~/css/requestform.css")" rel="stylesheet" type="text/css" />
}


<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-5">
                <img src="~/images/exclamationIcon.svg" alt="">
                <h3 class="my-4">Information</h3>
                <p class="text-secondary">
                    When submitting a request, you must provide correct contact
                    information for the patient
                    or the responsible party. Failure to provide the correct email and phone number will
                    delay service or be declined.
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-info text-white px-3 py-2" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="main p-4">
    <div class="back pb-4 d-flex justify-content-end">
        <a asp-area="" asp-controller="RequestForms" asp-action="SubmitRequest" class="btn back-btn">
            <img src="/images/backIcon.svg" alt="">
            Back
        </a>
    </div>

    <form asp-action="FamilyRequest" class="container bg-white p-4  request-form" enctype="multipart/form-data">

        <div class="family-info mb-4">
            <h2 class="mb-3">Family/Friend Information</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="FamilyFirstName" class="form-control" id="FamilyFirstName"
                               placeholder="First Name">
                        <label asp-for="FamilyFirstName">Your First Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="FamilyLastName" class="form-control" id="FamilyLastName"
                               placeholder="Last Name">
                        <label asp-for="FamilyLastName">Your Last Name</label>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <input type="tel" asp-for="FamilyPhoneNumber" class="form-control w-100" id="familyphone" />

                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="FamilyEmail" class="form-control" id="FamilyEmail"
                               placeholder="abc@xyz.pqr">
                        <label asp-for="FamilyEmail">Your Email</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="FamilyRelation" class="form-control" id="FamilyRelation"
                               placeholder="Relation">
                        <label asp-for="FamilyRelation">Your Relation With Patient</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="info mb-4">
            <h2 class="mb-3">Patient Information</h2>
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea asp-for="PatientInfo.Symptoms" class="form-control" placeholder="Enter Symptoms" id="symptoms"
                                  style="height: 100px"></textarea>
                        <label asp-for="PatientInfo.Symptoms">Enter Brief Details of Symptoms (Optional)</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.FirstName" class="form-control" id="firstname"
                               placeholder="First Name">
                        <label asp-for="PatientInfo.FirstName">First Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.LastName" class="form-control" id="lastname"
                               placeholder="Last Name">
                        <label asp-for="PatientInfo.LastName">Last Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="PatientInfo.DOB" class="form-control" id="dob" placeholder="DOB">
                        <label asp-for="PatientInfo.DOB">Date Of Birth</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-info mb-4">
            <h2 class="mb-3">Patient Contact Information</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="PatientInfo.Email" class="form-control" id="email"
                               placeholder="abc@xyz.pqr">
                        <label asp-for="PatientInfo.Email">Email</label>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <!-- <div class="input-group mb-3 h-100">
                        <select class=" btn btn-outline-secondary" aria-label="Default select example">
                            <option selected>Country</option>
                            <option value="1">+91</option>
                            <option value="2">+1</option>
                            <option value="3">+216</option>
                        </select>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="9876598765"
                            pattern="[0-9]{10}">
                    </div> -->
                    <input type="tel" asp-for="PatientInfo.PhoneNumber" class="form-control w-100" id="phone" />

                </div>
            </div>
        </div>

        <div class="location-info mb-4">
            <h2 class="mb-3">Patient Location</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.Street" class="form-control" id="street"
                               placeholder="Street">
                        <label asp-for="PatientInfo.Street">Street</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.City" class="form-control" id="city"
                               placeholder="City">
                        <label asp-for="PatientInfo.City">City</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.State" class="form-control" id="state"
                               placeholder="State">
                        <label asp-for="PatientInfo.State">State</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.ZipCode" class="form-control" id="zipcode"
                               placeholder="Zipcode">
                        <label asp-for="PatientInfo.ZipCode">Zipcode</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="PatientInfo.Room" class="form-control" id="room"
                               placeholder="Room">
                        <label asp-for="PatientInfo.Room">Room # / Suite (Optional)</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="upload-docs mb-4">
            <h2 class="mb-3">(Optional) Upload Photo Or Document</h2>
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="file" asp-for="PatientInfo.MultipleFiles" multiple class="form-control px-3 py-2 file-upload" id="PatientInfo_MultipleFiles">

                        <label class="input-group-text w-100 d-flex justify-content-between p-0 rounded-3 upload-label"
                               asp-for="PatientInfo.MultipleFiles">
                            <span class="px-3 py-2" id="filename">Select File</span>
                            <div class="btn btn-info p-3 text-white fw-bold rounded-0">
                                <img src="/images/uploadIcon.svg" class="me-2" alt="">Upload
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="submit mb-4 d-flex justify-content-end">
            <input type="submit" value="Submit" class="btn btn-info py-2 px-3 text-white">
            <input type="reset" value="Cancel" class="btn btn-outline-info py-2 px-3 ms-3">
        </div>

    </form>
</div>

@section AddScript{
    <script>
        const phoneInputField = document.querySelector("#familyphone");
        const ptphoneInputField = document.querySelector("#phone");

        const phoneInput = window.intlTelInput(phoneInputField, {
            preferredCountries: ["us", "in", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        const ptphoneInput = window.intlTelInput(ptphoneInputField, {
            preferredCountries: ["us", "in", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>
    <script>
        const actualBtn = document.querySelector('#PatientInfo_MultipleFiles');

        const fileChosen = document.querySelector('#filename');


        actualBtn.addEventListener('change', function () {
            fileChosen.textContent = '';
            for (var i = 0; i < this.files.length; i++) {
                fileChosen.textContent += this.files[i].name + ', ';
            }
            fileChosen.textContent = fileChosen.textContent.slice(0, fileChosen.textContent.length - 2);

        })
    </script>
}

