
@{
    ViewData["Title"] = "MDsOnCall";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@model HalloDocServices.ViewModels.AdminViewModels.MDsOnCallViewModel

<div class="main">
    @*<partial name="_NavbarLinks">*@

        <div class="container-xl p-4">

            <div class="back p-0 pb-4 d-flex justify-content-between">
                <h2>MDs On Call</h2>
                <button class="btn btn-outline-info d-flex align-items-center" onclick="window.history.back()">
                    <span class="material-symbols-outlined text-info fs-6">
                        arrow_back_ios
                    </span>
                    <span>Back</span>
                </button>
            </div>

            <div class="searchSection d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
                <select class="form-select mb-3 mb-md-0" id="region-list" style="width: 270px;" asp-for="RegionId" asp-items="@Model.RegionList">
                    <option value="">All Regions</option>
                </select>
                <div>
                    <a class="btn btn-info text-white me-2" style="box-shadow:1px 1px 2px 1px rgba(0,0,0,0.4)">Calendar View</a>
                    <a asp-action="RequestedShifts" class="btn btn-info text-white me-2" style="box-shadow:1px 1px 2px 1px rgba(0,0,0,0.4)">Shifts For Review</a>
                </div>
            </div>

            <div id="partial-container"></div>

        </div>

</div>

@section AddScript
{
    <script>
        $('document').ready(function(){
            function GetMDsList(){
                $.ajax({
                    url: '/Providers/GetMDsList',
                    data: {
                        regionId: $('#region-list').val(),
                    },
                    type: 'GET',
                    success: function (data) {
                        
                        $('#partial-container').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Error fetching data:", textStatus);
                        if (errorThrown) {
                            console.error("Specific error:", errorThrown);
                        }
                        console.error("HTTP status code:", jqXHR.status);
                    }
                });
            }

            GetMDsList();

            $('#region-list').change(function(){
                GetMDsList();
            });
        });
    </script>
}