@{
    ViewData["Title"] = "View Uploads";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@section AddStyles
{
    <style>
        .shift-item{
            color: #000;
            background-color: #cff4fc;
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
        }

        .action-btn{
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);
        }

    </style>
}

@model HalloDocServices.ViewModels.AdminViewModels.RequestedShiftViewModel

<div class="main">

    @*<partial name="_NavbarLinks">*@

    <div class="container-xl p-4">
        <div class="heading d-flex justify-content-between align-items-center mb-3">
            <h1 class="h2 mb-3">Requested Shifts</h1>
            <button class="btn btn-outline-info d-flex align-items-center" onclick="window.history.back()">
                <span class="material-symbols-outlined text-info fs-6">
                    arrow_back_ios
                </span>
                <span>Back</span>
            </button>
        </div>
        <div class="shiftsSection bg-body rounded-3 custom-shadow">
            <div class="search-area p-3 d-flex flex-column flex-md-row flex-md-wrap justify-content-between align-items-center">
                <select class="form-select mb-2 me-md-2" style="width: 270px;" id="region-list" asp-items="@Model.RegionList">
                    <option value="">All Regions</option>
                </select>
                <div class="action-btns d-flex flex-wrap flex-sm-nowrap">
                    <a asp-action="Scheduling" class="btn btn-success text-white me-2 mb-2 action-btn">View Current Month Shifts</a>
                    @*<a class="btn btn-success text-white me-2 mb-2 action-btn">Approve Selected</a>
                    <a class="btn btn-danger text-white me-2 mb-2 action-btn">Delete Selected</a>*@
                    
                </div>
            </div>
            
            <div id="partial-container">
            </div>

        </div>
    </div>

</div>


@section AddScript {
    <partial name="_ToastMessageScriptsPartial" />

    <script>
        
        function GetRequestedShifts(){
            $.ajax({
                url: '/Providers/GetShiftsList',
                data: {
                    regionId: $('#region-list').val(),
                },
                type: 'GET',
                success: function(data){
                    $('#partial-container').html(data);
                    if ($('.action-btns label[for="approve"]').length === 0){
                        var buttonsHtml = '<label for="approve" class="btn btn-success text-white me-2 mb-2 action-btn d-none d-md-inline">Approve Selected</label><label for="delete" class="btn btn-danger text-white me-2 mb-2 action-btn d-none d-md-inline">Delete Selected</label><label for="approve-sm" class="btn btn-success text-white me-2 mb-2 action-btn d-md-none">Approve Selected M</label><label for="delete-sm" class="btn btn-danger text-white me-2 mb-2 action-btn d-md-none">Delete Selected M</label>';

                        $('.action-btns').append(buttonsHtml);
                    }

                    partialEventListeners();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching data:", textStatus);
                    if (errorThrown) {
                        console.error("Specific error:", errorThrown);
                    }
                    console.error("HTTP status code:", jqXHR.status);

                    if (jqXHR.responseJSON.status == 414) {
                        window.location.href = '/Login';
                    }
                }
            });
        }

        function partialEventListeners(){
            $("#selectAll").click(function () {
                $(".selectShift").prop('checked', $(this).prop('checked'));
            });
        }

        $('document').ready(function () {
            GetRequestedShifts();
        });

        $('#region-list').change(function(){
            GetRequestedShifts();
        });

    </script>
}