@{
    ViewData["Title"] = "View Uploads";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@section AddStyles
{
    <style>
        .shift-item{
            background-color: #e7f1ff;
        }
    </style>
}

@model HalloDocServices.ViewModels.AdminViewModels.RequestedShiftViewModel

<div class="main">

    <partial name="_NavbarLinks"></partial>

    <div class="container-xl p-4">
        <div class="heading d-flex justify-content-between align-items-center mb-3">
            <h1 class="h2 mb-3">Requested Shifts</h1>
            <a class="btn back-btn">
                <img src="~/images/backIcon.svg" alt="">
                Back
            </a>
        </div>
        <div class="shiftsSection bg-white rounded-3" style="box-shadow: 0 0 5px rgba(0,0,0,0.3)">
            <div class="search-area p-3 d-flex flex-column flex-md-row flex-md-wrap justify-content-between align-items-center">
                <select class="form-select selectlist mb-2 me-md-2" style="width: 270px;" asp-items="@Model.RegionList">
                    <option value="">All Regions</option>
                </select>
                <div class="d-flex flex-wrap flex-sm-nowrap">
                    <a class="btn btn-success text-white me-2 mb-2" style="box-shadow:1px 1px 2px 1px rgba(0,0,0,0.4)">View Current Month Shifts</a>
                    <a class="btn btn-success text-white me-2 mb-2" style="box-shadow:1px 1px 2px 1px rgba(0,0,0,0.4)">Approve Selected</a>
                    <button type="button" class="btn btn-danger text-white mb-2" style="box-shadow:1px 1px 2px 1px rgba(0,0,0,0.4)" data-bs-toggle="modal" data-bs-target="#create-shift-modal">Delete Selected</button>
                </div>
            </div>
            
            <div class="partial-container">
                @* <partial name="_RequestShiftTablePartial"> *@
            </div>

        </div>
    </div>

</div>


@section AddScript {
    <partial name="_ToastMessageScriptsPartial" />
}